/.quarto/
_site/
public/
.Rproj.user
.Rdata
.Rhistory
.DS_Store

/python_env/

/.luarc.json

# Ignore JabRef temp files
bibliography.bib.*

# Ignore Jupyter Checkpoints
.ipynb_checkpoints
.jupyter-cache

# Exclude cache files for Jupyter and tabular-r
modules/.jupyter_cache/
modules/tabular-r_cache/